.account-container {
    max-width: 800px;
    margin: auto;
  }
  
  .nav-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .nav-tabs button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #84c9d0;
    border: none;
    color: white;
  }
  
  .nav-tabs button.active {
    background-color: #66b2b8;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  form button {
    padding: 10px 15px;
    background-color: #84c9d0;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #66b2b8;
  }
  
  h4 {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 15px;
  }
  
  ul li img {
    width: 100px;
    height: auto;
    margin-right: 15px;
  }
  