<div>
  <h2>Order History</h2>

  <!-- Order History Section -->
  <div *ngIf="currentView === 'orders'">
    
    <div *ngIf="orders.length; else noOrders" class="card-container">
      <div *ngFor="let order of orders" class="card">
        <p>Order Date: {{ order.orderDate }}</p>
        <p>Total Amount: {{ order.totalAmount }}</p>
        <button (click)="showOrderDetails(order)" class="btn">Details</button>
      </div>
    </div>
    <ng-template #noOrders>
      <p>No orders found.</p>
    </ng-template>
  </div>

  <!-- Expanded Order Details -->
  <div *ngIf="selectedOrder" class="selected-order">
    <h3>Order Details</h3>
    <p>Order ID: {{ selectedOrder._id }}</p>
    <p>Username: {{ selectedOrder.username }}</p>
    <p>User Email: {{ selectedOrder.useremail }}</p>
    <p>Total Amount: {{ selectedOrder.totalAmount }}</p>
    <p>Status: {{ selectedOrder.status }}</p>
    <p>Order Date: {{ selectedOrder.orderDate }}</p>

    <h4>Payment details:</h4>
    <p>Payment is done</p>

    <button (click)="closeOrderDetails()" class="btn">Close</button>
  </div>
</div>
