<div class="content">
  <div class="alinement">
    <div class="overlay"></div>
    <div class="welcome-section">
      <div class="background-overlay">
        <div class="welcome-message">
          <h2>Welcome to Enchanted Pages</h2>
          <p>Discover a world where buying and selling books is a magical experience. At Enchanted Pages, we bring together the finest selection of books and knowledge, all in one enchanting place. Explore our curated collection and experience the joy of finding the perfect book to ignite your passion for reading.</p>
          
          <!-- Show buttons only if the user is logged in -->
          <button class="btn" *ngIf="isLoggedIn && !isAdmin" (click)="goToBuyBooks()">Buy Books</button>
          <button class="btn" *ngIf="isLoggedIn && isAdmin" (click)="goToSellBooks()">Sell Books</button>
          
        </div>
      </div>
    </div>
  </div>
</div>
